<?xml version="1.0"?>
<launch>
  <param name="robot_description" textfile="$(find silbot3_description)/robots/silbot3.urdf" />
 <node name="core" pkg="silbot3_core" type="silbot3_core" respawn="true" output="screen">
      <rosparam file="$(find silbot3_core)/param/core.yaml" command="load" />
  </node>
  <param
    name="use_gui"
    value="true" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" />

  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find silbot3_description)/urdf.rviz" />

<node
    name="test111"
    pkg="rviz"
    type="rviz"/>


</launch>

